[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pandas = "*"
flask-cors = "*"
flask-socketio = "*"
requests = "*"
pymongo = "*"

[requires]
python_version = "3.8"
